<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Article</ion-title>
</ion-navbar>

<ion-content>
    <div *ngIf="selectedItem" class="selection">
        <h2 class="article-title">{{selectedItem.node_title}}</h2>
        <ion-card class="article">
            <div [innerHTML]="selectedItem.field_image"></div>
            <ion-card-content>
                <span class="article-date">{{selectedItem.date}}</span>
                <p [innerHTML]="selectedItem.body"></p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
