<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>News</ion-title>
</ion-navbar>

<ion-content>
  <ion-list class="news-list">
      <ion-thumbnail>
    <!--<button ion-item *ngFor="#item of items" (click)="itemTapped($event, item)">
      <ion-icon [innerHTML]="item.field_image" item-left></ion-icon>
      {{item.node_title}}
      
    </button>-->
      
        <button ion-item *ngFor="#item of items" (click)="itemTapped($event, item)">
            <ion-icon class="news-thumb" [innerHTML]="item.thumbnail" item-left></ion-icon>
            <h2 class="news-title">{{item.node_title}}</h2>
            <p class="news-summary">{{item.body}}</p>
        </button>
      </ion-thumbnail>
  </ion-list>
  <!--<div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.node_title}}</b>
  </div>-->
</ion-content>
